ion-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  text-align: center;

  .h1 {
    background-color: black;
  }

  .fondo-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;

    .logo-container {
      position: relative;
      z-index: 1;
      margin-bottom: 50px;

      .logo {
        width: 100px;
        height: auto;
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* Ajusta el nivel de opacidad según lo necesites */
    }
  }

  .custom-button {
    --background: #008bba6c; /* Color del botón */
    --color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%; /* Botón ocupa la mitad del ancho del contenedor */
    padding: 10px; /* Ajuste del tamaño del botón */
    height: auto; /* Ajuste de la altura del botón */
    font-size: 1rem; /* Ajuste del tamaño de la fuente */
  
    .button-content {
      display: flex;
      align-items: center;
      
    }
  
    .mesa-image {
      width: 30px; /* Ajuste del tamaño de la imagen */
      height: 30px;
      margin-right: 10px;
      border-radius: 5px;
    }
  
    .text-content {
      display: flex;
      flex-direction: column;
      text-align: left; /* Alineación del texto a la izquierda */
    }
  
    .mesa-name {
      font-size: 1rem; /* Ajuste del tamaño del texto */
      font-weight: bold;
    }
  
    .mesa-id {
      font-size: 0.8rem; /* Ajuste del tamaño del texto */
      color: #ddd;
    }
  }
  ion-fab-button {
    --background: rgba(252, 249, 249, 0) !important; /* Transparente */
    --color: white !important; /* Color del ícono */
    border: 1px solid white !important;
    box-shadow: none !important;
  }
  .choice-button-container {
    display: flex;
    justify-content: center; /* Centra el botón horizontalmente */
    align-items: center;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
  }
  
  .choice-button {
    font-family: 'Cinzel Decorative', cursive !important;
    font-size: 1.5rem !important;
    --background: rgba(255, 255, 255, 0) !important; /* Transparente */
    --color: white !important; /* Color del texto */
    border: 1px solid white !important;
    margin: 10px !important;
    padding: 10px 20px !important;
    text-align: center !important;
    box-shadow: none !important;
    transition: background-color 0.3s ease !important;
  
    &:hover {
      --background: rgba(255, 255, 255, 0.2) !important; /* Transparencia leve al pasar el mouse */
    }
  }
  
}
