<ion-content>
  <div class="fondo-container"></div>
  <div class="main-container">
    <div class="logo-container">
      <img src="/assets/2.png" alt="Logo" class="logo">
    </div>
  <h1>CARACTERISTICAS</h1>
  <ion-item lines="none">
    <ion-label (click)="toggleDropdown('conocimiento')">conocimiento</ion-label>
  </ion-item>
  <div *ngIf="dropdownVisible === 'conocimiento'" class="dropdown-content">
    <div class="dropdown-item">Puntos Base: 10</div>
    <div class="dropdown-item">Bonificador: 15</div>
    <div class="dropdown-item">Bonificador por competencia: 10</div>
    <div class="dropdown-item">Bonificador por equipo: 15</div>
    <div class="dropdown-item">Le suma a el dado: 10</div>
  </div>
  <br>
  <ion-item lines="none">
    <ion-label (click)="toggleDropdown('fvoluntad')">fvoluntad</ion-label>
  </ion-item>
  <div *ngIf="dropdownVisible === 'fvoluntad'" class="dropdown-content">
    <div class="dropdown-item">Puntos Base: 10</div>
    <div class="dropdown-item">Bonificador: 15</div>
    <div class="dropdown-item">Bonificador por competencia: 10</div>
    <div class="dropdown-item">Bonificador por equipo: 15</div>
    <div class="dropdown-item">Le suma a el dado: 10</div>
  </div>
  <br>
  <ion-item lines="none">
    <ion-label (click)="toggleDropdown('carisma')">carisma</ion-label>
  </ion-item>
  <div *ngIf="dropdownVisible === 'carisma'" class="dropdown-content">
    <div class="dropdown-item">Puntos Base: 10</div>
    <div class="dropdown-item">Bonificador: 15</div>
    <div class="dropdown-item">Bonificador por competencia: 10</div>
    <div class="dropdown-item">Bonificador por equipo: 15</div>
    <div class="dropdown-item">Le suma a el dado: 10</div>
  </div>
  <br>
  <ion-item lines="none">
    <ion-label (click)="toggleDropdown('mosculatura')">musculatura</ion-label>
  </ion-item>
  <div *ngIf="dropdownVisible === 'mosculatura'" class="dropdown-content">
    <div class="dropdown-item">Puntos Base: 10</div>
    <div class="dropdown-item">Bonificador: 15</div>
    <div class="dropdown-item">Bonificador por competencia: 10</div>
    <div class="dropdown-item">Bonificador por equipo: 15</div>
    <div class="dropdown-item">Le suma a el dado: 10</div>
  </div>
<br>
  <ion-item lines="none">
    <ion-label (click)="toggleDropdown('punteria')">punteria</ion-label>
  </ion-item>
  <div *ngIf="dropdownVisible === 'punteria'" class="dropdown-content">
    <div class="dropdown-item">Puntos Base: 10</div>
    <div class="dropdown-item">Bonificador: 15</div>
    <div class="dropdown-item">Bonificador por competencia: 10</div>
    <div class="dropdown-item">Bonificador por equipo: 15</div>
    <div class="dropdown-item">Le suma a el dado: 10</div>
  </div>
  <br>
  <ion-item lines="none">
    <ion-label (click)="toggleDropdown('salud')">salud</ion-label>
  </ion-item>
  <div *ngIf="dropdownVisible === 'salud'" class="dropdown-content">
    <div class="dropdown-item">Puntos Base: 10</div>
    <div class="dropdown-item">Bonificador: 15</div>
    <div class="dropdown-item">Bonificador por competencia: 10</div>
    <div class="dropdown-item">Bonificador por equipo: 15</div>
    <div class="dropdown-item">Le suma a el dado: 10</div>
  </div>
  <br>
  <ion-item lines="none">
    <ion-label (click)="toggleDropdown('logica')">logica</ion-label>
  </ion-item>
  <div *ngIf="dropdownVisible === 'logica'" class="dropdown-content">
    <div class="dropdown-item">Puntos Base: 10</div>
    <div class="dropdown-item">Bonificador: 15</div>
    <div class="dropdown-item">Bonificador por competencia: 10</div>
    <div class="dropdown-item">Bonificador por equipo: 15</div>
    <div class="dropdown-item">Le suma a el dado: 10</div>
  </div>
  <br>
  <ion-item lines="none">
    <ion-label (click)="toggleDropdown('intuicon')">intuición</ion-label>
  </ion-item>
  <div *ngIf="dropdownVisible === 'intuicon'" class="dropdown-content">
    <div class="dropdown-item">Puntos Base: 10</div>
    <div class="dropdown-item">Bonificador: 15</div>
    <div class="dropdown-item">Bonificador por competencia: 10</div>
    <div class="dropdown-item">Bonificador por equipo: 15</div>
    <div class="dropdown-item">Le suma a el dado: 10</div>
  </div>
  <br>
  <ion-item lines="none">
    <ion-label (click)="toggleDropdown('verborea')">verborea</ion-label>
  </ion-item>
  <div *ngIf="dropdownVisible === 'verborea'" class="dropdown-content">
    <div class="dropdown-item">Puntos Base: 10</div>
    <div class="dropdown-item">Bonificador: 15</div>
    <div class="dropdown-item">Bonificador por competencia: 10</div>
    <div class="dropdown-item">Bonificador por equipo: 15</div>
    <div class="dropdown-item">Le suma a el dado: 10</div>
  </div>
  <ion-button fill="clear" class="back-button" [routerLink]="['/caract1']">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>





