<ion-content>
  <div class="fondo-container"></div>
  <div class="main-container">
    <div class="logo-container">
      <img src="/assets/2.png" alt="Logo" class="logo">
    </div>
    <div class="form-container">
      <div class="grid-container">
        <img src="/assets/personaje.png" alt="Personaje" class="personaje-img">
        <img src="/assets/personaje.png" alt="Personaje" class="personaje-img">
        <img src="/assets/personaje.png" alt="Personaje" class="personaje-img">
        <img src="/assets/personaje.png" alt="Personaje" class="personaje-img">
        <img src="/assets/personaje.png" alt="Personaje" class="personaje-img">
        <img src="/assets/personaje.png" alt="Personaje" class="personaje-img">
        <img src="/assets/personaje.png" alt="Personaje" class="personaje-img">
        <img src="/assets/personaje.png" alt="Personaje" class="personaje-img">
        <img src="/assets/personaje.png" alt="Personaje" class="personaje-img">
      </div>
      <form (ngSubmit)="escojerp()">
        <ion-button expand="block" class="choice-button" [routerLink]="['/personaje']">Crear Personaje</ion-button>
      </form>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button [routerLink]="['/rol']">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>


