ion-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  text-align: center;

  /* Contenedor de fondo */
  .fondo-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;

    /* Filtro oscuro */
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0);
    }
  }

  /* Contenedor del logo */
  .logo-container {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;

    .logo {
      width: 350px;
      height: auto;
    }
  }

  /* Contenedor del formulario */
  .title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    text-align: center;
    gap: 20px; /* Espacio entre los elementos */

    ion-item {
      width: 100%;
      max-width: 400px; /* Para limitar el ancho máximo */
      --background: transparent;
      --color: white;
    }

    ion-label {
      color: white;
    }

    ion-input {
      color: white;
    }

    ion-button {
      font-family: 'Cinzel Decorative', cursive !important;
      font-size: 1.5rem !important;
      --background: rgba(255, 255, 255, 0.2) !important;
      --color: white !important;
      border: 1px solid white !important;
      margin: 10px !important;
      padding: 10px 20px !important;
      width: 100%;
      max-width: 400px; /* Para limitar el ancho máximo */
      text-align: center !important;
      box-shadow: none !important;
      transition: background-color 0.3s ease !important;

      &:hover {
        --background: rgba(255, 255, 255, 0.2) !important;
      }
    }
  }
}
