.scroll-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.item {
  text-align: center;
  width: 150px;
  cursor: pointer;
}

.item-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.item-name {
  margin-top: 10px;
  font-weight: bold;
  color: #5A3E2B;
}

.item-info {
  margin-top: 8px;
  font-size: 14px;
  color: #333;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 10px;
}


.back-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #5A3E2B;
}

ion-content {
  --background: url('/assets/psjs.jpg') no-repeat center center fixed;
  --background-size: cover;
}