<ion-header>
  <ion-toolbar>
    <ion-title>Unirse a Mesa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-image"></div> <!-- Fondo tipo pergamino -->
  <div class="container">
    <h1 class="title">Unirse a Mesa</h1>
    <form (ngSubmit)="unirseMesa()">
      <ion-item class="input-item">
        <ion-label position="floating">ID de la Mesa</ion-label>
        <ion-input type="number" [(ngModel)]="idMesa" name="idMesa" required></ion-input>
      </ion-item>
      <ion-button expand="block" class="continue-button" type="submit">UNIRSE</ion-button>
    </form>
  </div>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button [routerLink]="['/mesas-jugador']">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
