<ion-header>
  <ion-toolbar>
    <ion-title>Crear Nueva Mesa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-container">
    <!--<form (ngSubmit)="createMesa()">-->
      <ion-item>
        <ion-label position="floating">Nombre de la Mesa</ion-label>
        <!--<ion-input type="text" [(ngModel)]="mesaName" name="mesaName" required></ion-input>-->
      </ion-item>
      <ion-item>
        <ion-label position="floating">ID de la Mesa</ion-label>
        <!--<ion-input type="text" [(ngModel)]="mesaId" name="mesaId" required></ion-input>-->
      </ion-item>
      <ion-button expand="full" type="submit">Crear Mesa</ion-button>
    <!--</form>-->
  </div>
</ion-content>
