ion-content {
    --background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
    font-family: 'Cinzel Decorative', cursive;
    position: relative;

    .fondo-container {
    background-image: url('/assets/fondo.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  }
  
  .titulo {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .stats-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 100%;
  }
  
  .stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .stat-label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .stat-controls {
    display: flex;
    align-items: center;
  }
  
  .stat-controls button {
    font-size: 1.5rem;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  
  .stat-value {
    font-size: 1.2rem;
    width: 40px;
    text-align: center;
  }
  
  .continue-button {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 1.2rem;
    --background: #fffbec;
    --color: black;
    border: none;
    margin-top: 15px;
    width: 100%;
  }

  .custom-button { 
    --background: #008CBA; /* Color del botón */ 
    --color: #fff; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    
    .button-content { 
      display: flex; 
      align-items: center; 
    } 
    .mesa-image { 
      width: 40px; 
      height: 40px; 
      margin-right: 10px; 
      border-radius: 5px; 
    } 
    .mesa-name { 
      font-size: 1.2rem; 
      font-weight: bold; 
    } .mesa-id { 
      font-size: 0.9rem; 
      color: #ddd; } 
    }
  
}
  
  