ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Asegura que el contenido ocupe toda la altura de la pantalla */
  color: white;
  text-align: center;
  position: relative;

  .logo-container {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;

    .logo {
      width: 300px;
      height: auto;
    }
  }


  /* Fondo de la pantalla completa */
  .fondo-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/3.png'); /* Asegúrate de que la ruta sea correcta */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;

    /* Filtro oscuro semitransparente */
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0); /* Ajusta el nivel de opacidad según lo que necesites */
    }
  }

  /* Contenedor del formulario */
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    gap: 15px; /* Espacio entre elementos */
    z-index: 1;
  }

  ion-item {
    --background: transparent; /* Asegúrate de que ion-items tengan fondo transparente */
    width: 100%; /* Asegura que el ion-item ocupe todo el ancho del contenedor */
  }

  ion-button {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
    width: 100%; /* Asegura que el botón ocupe todo el ancho del contenedor */
  }

  ion-label,
  ion-input {
    color: white;
  }

  /* Botón de regreso */
  ion-fab-button {
    --background: rgba(252, 249, 249, 0) !important; /* Transparente */
    --color: white !important; /* Color del ícono */
    border: 1px solid white !important;
    box-shadow: none !important;
  }
}
