<ion-header>
  <ion-toolbar>
    <ion-title>Habilidades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Contenedor de la cuadrícula -->
  <div class="habilidades-grid">
    <div
      class="habilidad"
      *ngFor="let habilidad of habilidades"
      (click)="seleccionarHabilidad(habilidad)"
    >
      <img [src]="habilidad.image" [alt]="habilidad.name" />
    </div>
  </div>

  <!-- Descripción de la habilidad seleccionada -->
  <div class="descripcion" *ngIf="habilidadSeleccionada">
    <h3>{{ habilidadSeleccionada.name }}</h3>
    <p>{{ habilidadSeleccionada.description }}</p>
  </div>
  <ion-button fill="clear" class="back-button" [routerLink]="['/hoja-persona']">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
</ion-content>
