<ion-content>
  <div class="background-image"></div> <!-- Fondo tipo pergamino -->
  <div class="container">
    <h1 class="title">CREAR MESA</h1>
    
    <form class="form-container">
      <ion-item class="input-item">
        <ion-label position="floating">Nombre de la Mesa</ion-label>
        <ion-input type="text" [(ngModel)]="nombreMesa" name="nombreMesa"></ion-input>
      </ion-item>
      
      <ion-item class="input-item">
        <ion-label position="floating">Cantidad de Jugadores</ion-label>
        <ion-input type="number" min="1" [(ngModel)]="cantidadJugadores" name="cantidadJugadores"></ion-input>
      </ion-item>
      
      <ion-button expand="block" class="continue-button" (click)="crearMesa()">CREAR MESA</ion-button>
    </form>
  </div>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button [routerLink]="['/mesas']">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
