<ion-header>
  <ion-toolbar>
    <ion-title>JUGADORES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo-container"></div>
  <div class="logo-container">
    <img src="/assets/2.png" alt="Logo" class="logo">
  </div>
  <h1>JUGADORES</h1>
  <div class="players-container">
    <ion-list>
      <ion-item *ngFor="let jugador of jugadores">
        <ion-label>
          <h2>{{ jugador.apodo }}</h2>
          <p>{{ jugador.correo_electronico }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button [routerLink]="['/mesas']">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
