<ion-header>
  <ion-toolbar>
    <ion-title>Inventario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="inventory-grid">
    <ion-card *ngFor="let item of items" class="inventory-item">
      <div class="item-content">
        <img [src]="item.image" alt="{{ item.name }}" class="item-image" />
        <div class="item-info">
          <h3>{{ item.name }}</h3>
          <p>{{ item.info }}</p>
        </div>
        <ion-button
          fill="outline"
          (click)="toggleEquip(item)"
          [color]="item.equipped ? 'success' : 'warning'"
        >
          {{ item.equipped ? 'Equipado' : 'No equipado' }}
        </ion-button>
      </div>
    </ion-card>
  </div>  
  <ion-button fill="clear" class="back-button" [routerLink]="['/hoja-persona']">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
</ion-content>