<ion-content>
  <div class="scroll-container">
    <h2>Inventario</h2>
    <div class="items-container">
      <div class="item" *ngFor="let item of items" (click)="selectedItem = item">
        <ion-img [src]="item.image" class="item-image"></ion-img>
        <p class="item-name">{{ item.name }}</p>
        <div class="item-info" *ngIf="selectedItem === item">
          {{ item.info }}
        </div>
      </div>
    </div>
  </div>
  <!-- Botón de retroceso -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button [routerLink]="['/hoja-persona']">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
